@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
  background-color: #000;
}

img {
  display: block;
}

a {
  color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  background-color: #C7A17A;
  border: 0;
  cursor: pointer;
  color: #fff;
}

.btn-full {
  width: 100%;
}

.nav {
  display: flex;
}

ul li {
  list-style: circle;
}

/*Header*/
.header {
  border-bottom: 1px solid #fff;
  background-color: #000;
}

.header__line {
  border-bottom: 1px solid #fff;
}

.header__line-wrapper {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__line-lng {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.header__line-lng a {
  margin-right: 10px;
  color: #fff;
}
.header__line-lng .header__line-active {
  color: #C7A17A;
}

.header__line-phone {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.header__wrapper {
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__navigation nav {
  display: flex;
}
.header__navigation .active {
  color: #C7A17A;
}

.nav__link {
  margin-right: 35px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: #C7A17A;
}

.header__logo-img {
  display: block;
}

.header__block {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.header__actions {
  display: flex;
  align-items: center;
}

.block__link {
  margin-right: 30px;
  position: relative;
}
.block__link:last-child {
  margin-right: 0;
}

.block__link-event {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  top: -4px;
  right: -2px;
  background-color: #C7A17A;
}

/*Header*/
/*Checkout*/
.checkout {
  flex: 1;
  padding-top: 80px;
}

.checkout__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 57px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.checkout__wrapper {
  display: flex;
}

.checkout__block {
  flex: 1;
  margin-right: 50px;
}

.checkout__table {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #14141D;
}

.checkout__img {
  height: 96px;
  display: block;
  margin-right: 25px;
}

.checkout__table-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.checkout__item-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.checkout__size {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #818181;
}

.checkout__select select {
  background-color: transparent;
  height: 25px;
  min-width: 60px;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #fff;
}
.checkout__select option {
  color: #000;
  outline: 0;
}

.checkout__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.checkout__price {
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
}

/*Checkout*/
/*Checkout__Total*/
.checkout__total {
  width: 380px;
  position: relative;
}
.checkout__total::after {
  content: "";
  position: absolute;
  top: -160px;
  left: -30px;
  width: 50vw;
  height: 100vh;
  background-color: #14141D;
  z-index: -1;
}

.checkout__total-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.total__row-title {
  font-size: 15px;
}

.total__row-count {
  font-size: 15px;
}

.total {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 700;
}

.checkout__page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Checkout__Total*/
/*Footer*/
.footer {
  border-top: 2px solid #14141D;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #020204;
  position: relative;
  z-index: 2;
}

.footer__wrapper {
  display: flex;
  margin: 0 -10px;
}

.footer__title {
  color: #F8DABF;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
  display: inline-block;
}

.footer__block {
  width: 33.33%;
  padding: 0 10px;
}

.nav-footer {
  flex-direction: column;
  align-items: flex-start;
}

.nav-footer .nav__link {
  margin-right: 0;
  margin-bottom: 20px;
}

/*Footer*/